SportsPlanner.UWP/obj/
SportsPlanner.UWP/bin/
SportsPlanner.Droid/obj/
SportsPlanner.iOS/obj/
.vs/
SportsPlanner.iOS/bin/
SportsPlanner.Droid/bin/
packages/
*.userprefs
*.Designer.cs
*.designer.cs

#user-specific files
*.user

project.lock.json
*.csproj.bak